.trainer-details {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 55px);
  margin: 0 auto;
  width: 90%;
  overflow-y: auto;

  @media only screen and (max-height: 550px) {
    height: 100vh;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: 20px 0;
  }

  &__trainerInfo {
    display: flex;
    align-items: center;
  }

  &__info {
    margin-left: 10px;
    font-size: 25px;
  }

  img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 114px;
  }

  &__imageUser {
    width: 133px;
    height: 133px;
  }

  &__rating {
    justify-content: center;
    font-size: 70px !important;
  }

  &__review {
    width: 100%;
    margin-top: 20px;
    flex: 1;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

    button {
      padding: 10px 40px;
      border-radius: 50px;
      font-size: 20px;
      font-weight: 500;
    }
  }
}
