.input {
  outline: none;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
  padding: 15px 10px;
  width: 100%;

  &__label {
    margin-right: auto;
    color: #7a7a7a;
  }

  &::placeholder {
    color: #a3a3a3;
  }
}
