.change-password {
  height: calc(100vh - 95px);
  padding: 20px 0;

  &__title {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 20px;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  &__inputs {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__buttons {
    flex: 1;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
  }

  &__modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    font-size: 36px;
    font-weight: 500;
  }
}
