.edit-user-profile {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    margin-top: 20px;
    height: 220px;
    width: 220px;
    border: 1px solid #a7ecae;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 114px;
  }

  &__title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  &__buttons {
    flex: 1;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
}
