.App {
  height: 100vh;

  &--spinner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.react-calendar__tile--slots {
  background-color: rgb(143, 227, 136);
}

.react-calendar__tile--active {
  background: #006edc !important;
  color: white;
}

textarea:disabled{
  color: #000 !important;
  -webkit-text-fill-color: #000 !important;
}
